.MainSinPostLit{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 5%;
    margin-right: 5%;
    font-family: Comic Sans MS, Comic Sans, cursive;
    min-height: calc(69.8vh - 20px);
}

.DivTitleLit{
    height: 20%;
    border: 3px solid rgb(0, 0, 0, 0.5);
    border-radius: 18px;
    background: linear-gradient(to top, #ced7fd 20%, #fff5e3 100%);
    color: #41412d;
    text-align: center;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    font-family: Comic Sans MS, Comic Sans, cursive;
    transition: all 1s;

}

.DivMainLit{
    margin-top: 20px;
    border: 3px solid rgb(0, 0, 0, 0.5);
    border-radius: 18px;
    background: linear-gradient(to top, #f5f5fc 0%, #fff5e3 100%);
    padding-top: 40px;
    padding-bottom: 26px;
    padding-right: 70px;
    padding-left: 3%;
    font-size: 18px;
    transition: all 1s;
    word-break: break-all;

}

.DivPhotoLit{
    height: 450px;
    width: 55%;
    margin-top: 20px;
    margin-bottom: 20px;

    border: 1px solid rgb(0, 0, 0, 0.3);
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.33), 0 10px 10px rgba(0,0,0,0.15);
    transition: 1s;
}

.DivPhotoLit:hover{
    transform: scale(1.035);
}

.DivPhotoAutorClassLit{
    display: inline-block;
}

.DivPhotoAutorLit{
    height: 58%;
    width: 20%;
    position: absolute;
    right: 7.8%;
    top: 39%;

    margin-bottom: 30px;
    margin-left: 15px;

    border: 3px solid rgb(0, 0, 0, 0.6);
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.33), 0 10px 10px rgba(0,0,0,0.15);
    transition: 1s;
}

.DivPhotoAutorLit:hover{
    transform: scale(1.035);
}

.DivPhotoClassLit{
    text-align: center;
    margin-left: 5%;
}

.DivMainAutoDivTextAndPhotoLit{
    height: 450px;
}

.DivTextLit{
    transition: 1s;
}

.TextareaAutoDivTextLit{
    transition: 1s;
    display: inline-block;
    margin-bottom: 20px;
    width: 72%;
}


.DivExerciseLit{
    margin-top: 20px;
    margin-bottom: 40px;
    border: 3px solid rgb(0, 0, 0, 0.5);
    border-radius: 18px;
    background: linear-gradient(to top, #fff5e3 20%, #ced7fd 100%);
    padding-top: 30px;
    padding-bottom: 26px;
    padding-right: 70px;
    padding-left: 3%;
    font-size: 18px;
    transition: all 1s;
}

.TextareaAutoLit{
    width: 100%;

    margin-left: 30px;
    cursor: context-menu;

    background-color: rgb(0, 0, 0, 0);
    border-top-color: rgb(0, 0, 0, 0);
    border-bottom-color: rgb(0, 0, 0, 0);
    border-left-color: rgb(0, 0, 0, 0);
    border-right-color: rgb(0, 0, 0, 0);
    resize: none;
    outline: none;
    caret-color: transparent;

    text-align: justify;
}

.IconImgLit{
    width: 30px;
    height: 30px;
    margin-right: 40px;
    margin-bottom: 10px;
}

@media all and (max-width: 1380px) {
    .TextareaAutoDivTextLit{
        display: block;
        width: 100%;
    }

    .DivPhotoAutorClassLit{
        display: block;
        text-align: center;
    }
    .DivPhotoAutorLit{
        height: 360px;
        width: 330px;
        position: static;
        left: 0;
        tep: 0;

        margin-bottom: 30px;
        margin-left: 12%;

        border: 1px solid rgb(0, 0, 0, 0.3);
        border-radius: 20px;
        box-shadow: 0 10px 20px rgba(0,0,0,0.33), 0 10px 10px rgba(0,0,0,0.15);
        transition: 1s;
    }
    .DivMainAutoDivTextAndPhotoLit{
        height: auto;
        margin-bottom: 10px;
    }
}

@media all and (max-width: 1270px) {
    .DivPhotoLit{
        height: 350px;
        width: 455px;
        margin-left: 10%;

    }
}


@media all and (max-width: 770px) {
    .IconImgLit{
        width: 7%;
        height: 7%;
        margin-right: 10px;
        margin-bottom: 10px;
    }
    .DivPhotoLit{
        height: 300px;
        width: 345px;
        margin-left: 9%;
    }
    .DivPhotoAutorLit{
        margin-left: 16%;
    }
}

