.DivErr{
    height: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    font-size: 13px;
}